.about-us{
    text-align: center;
    margin-top: 50px;
}
.about-us h1{
    margin-bottom: 20px;
}
.about-text{
    padding: 40px 30px;
    background-color: #FCA311;
}
.about-text span{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}