.showcase-wrapper{
    text-align: center;
    margin-top: 50px;
}
.showcase-wrapper h1,.showcase-wrapper p{
    margin-bottom: 0px;
}
.showcase-slide-back{
    position: relative;
    z-index: -1;
    transform: translateY(150px);
    background-color: #FCA311;
    text-align: center;
    height: 250px;
    margin-top: 30px;
    clear: both;
}